<!-- Card Header (Optional) -->

@if (title() || headerTitleContent() || headerActionsContent()) {
  <div class="card-header">
    @if (headerTitleContent()) {
      <ng-content select="ec-card-header-title, [ecCardHeaderTitle]" />
    } @else if (title()) {
      <span> {{ title() }} </span>
    }

    @if (headerActionsContent()) {
      <ng-content select="ec-card-header-actions, [ecCardHeaderActions]" />
    }
  </div>
}

<!-- Card Block (Body) -->

<div class="card-block">
  <ec-progress-spinner [showSpinner]="!!loading()" [size]="spinnerSize()">
    @if (error() || empty()) {
      <span>{{ commonStrings.keys.card.loading }}</span>
    }
  </ec-progress-spinner>

  @if (!empty() && !error()) {
    <ng-content />
  } @else if (!loading()) {
    <div class="card-placeholder text-center">
      @if (!error()) {
        <div>
          {{ commonStrings.keys.card.noDataFound }}
        </div>
      } @else {
        <cds-icon shape="error-standard" status="danger" class="error-icon" />

        <div>
          {{ commonStrings.keys.card.errorOccurred }}
        </div>

        <div class="error-message">
          {{ errorMessage }}
        </div>

        @if (error()?.httpError && !error()?.noDetails) {
          <div class="error-details">
            <button
              class="btn btn-sm btn-link error-details-toggle"
              (click)="toggleErrorDetailsVisibility()"
            >
              {{
                showErrorDetails
                  ? commonStrings.keys.card.hideError
                  : commonStrings.keys.card.showError
              }}
            </button>

            @if (showErrorDetails) {
              <div class="error-details-json">
                {{ error()?.httpError | json }}
              </div>
            }
          </div>
        }

        <div class="error-hint">
          {{ error()?.hint || commonStrings.keys.card.reloadDataMessage }}
        </div>

        @if (!error()?.noRetryBtn) {
          <button (click)="onReload()" class="btn btn-sm error-reload-button">
            {{ commonStrings.keys.card.reload }}
          </button>
        }
      }
    </div>
  }
</div>

<!-- Card Footer (Optional) -->

@if (footerContent()) {
  <div class="card-footer">
    <ng-content select="ec-card-footer, [ecCardFooter]" />
  </div>
}
