<!-- Card Header (Optional) -->

<div class="card-header" *ngIf="title || headerTitleContent || headerActionsContent">
  <ng-container *ngIf="!headerTitleContent && title">
    <span> {{ title }} </span>
  </ng-container>
  <ng-container *ngIf="headerTitleContent">
    <ng-content select="ec-card-header-title, [ecCardHeaderTitle]" />
  </ng-container>

  <ng-container *ngIf="headerActionsContent">
    <ng-content select="ec-card-header-actions, [ecCardHeaderActions]" />
  </ng-container>
</div>

<!-- Card Block (Body) -->

<div class="card-block">
  <ec-progress-spinner [showSpinner]="loading" />

  <ng-container *ngIf="!empty && !error; else errorOrNoData">
    <ng-content />
  </ng-container>

  <ng-template #errorOrNoData>
    <div class="card-placeholder text-center" *ngIf="!loading">
      <ng-container *ngIf="error; else noData">
        <cds-icon shape="error-standard" status="danger" class="error-icon" />

        <div> An error occurred </div>

        <div class="error-message">
          {{ errorMessage }}
        </div>

        <div class="error-details" *ngIf="error.httpError && !error.noDetails">
          <button
            class="btn btn-sm btn-link error-details-toggle"
            (click)="toggleErrorDetailsVisibility()"
          >
            {{ showErrorDetails ? 'Hide' : 'Show' }} error details
          </button>
          <div class="error-details-json" *ngIf="showErrorDetails">
            {{ error.httpError | json }}
          </div>
        </div>

        <div class="error-hint">
          {{ error.hint || 'Please, try to reload the data a bit later' }}
        </div>

        <button
          *ngIf="!error.noRetryBtn"
          (click)="onReload()"
          class="btn btn-sm error-reload-button"
        >
          Reload
        </button>
      </ng-container>

      <ng-template #noData>
        <div> No data found </div>
      </ng-template>
    </div>
  </ng-template>
</div>

<!-- Card Footer (Optional) -->

<div class="card-footer" *ngIf="footerContent">
  <ng-content select="ec-card-footer, [ecCardFooter]" />
</div>
