<div
  class="card"
  [class.loading]="loading"
  [class.empty]="empty"
  [class.has-error]="error"
>
  <ec-card-header *ngIf="title">
    <div class="card-header-title">
      <ng-content select="[card-header-title]" />
      <span class="simple-title">
        {{ title }}
      </span>
    </div>

    <div class="card-header-actions">
      <ng-content select="[card-header-actions]" />
    </div>
  </ec-card-header>

  <ec-card-block>
    <ec-progress-spinner [showSpinner]="loading" />

    <ng-container *ngIf="!empty && !error; else errorOrNoData">
      <ng-content />
    </ng-container>

    <ng-template #errorOrNoData>
      <div class="card-placeholder text-center" *ngIf="!loading">
        <ng-container *ngIf="error; else noData">
          <cds-icon shape="error-standard" status="danger" class="error-icon" />

          <div> An error occurred </div>

          <div class="error-message">
            {{ errorMessage }}
          </div>

          <div class="error-details" *ngIf="error.httpError && !error.noDetails">
            <button
              class="btn btn-sm btn-link error-details-toggle"
              (click)="toggleErrorDetailsVisibility()"
            >
              {{ showErrorDetails ? 'Hide' : 'Show' }} error details
            </button>
            <div class="error-details-json" *ngIf="showErrorDetails">
              {{ error.httpError | json }}
            </div>
          </div>

          <div class="error-hint">
            {{ error.hint || 'Please, try to reload the data a bit later' }}
          </div>

          <button
            *ngIf="!error.noRetryBtn"
            (click)="onReload()"
            class="btn btn-sm error-reload-button"
          >
            Reload
          </button>
        </ng-container>

        <ng-template #noData>
          <div> No data found </div>
        </ng-template>
      </div>
    </ng-template>
  </ec-card-block>

  <ng-content select="ec-card-footer, [ecCardFooter]" />
</div>
