<div [style.width.px]="widthPx">
  <ng-container *ngIf="!configErrors.length; else wrongConfig">

    <ng-container *ngIf="!loading; else loadingOptions">
      <div class="filter-title" *ngIf="title">
        {{ title }}
      </div>

      <div class="filter-selected-amount" *ngIf="showSelectedAmount">
        Selected: {{ getTotalSelectedAmountLabel() }}
      </div>

      <ec-filter-search-bar
        class="filter-search-bar"
        *ngIf="withSearchBar"
        (valueChange)="onSearchTermChange($event)"
      />

      <div class="filter-options" [style.max-height.px]="maxHeightPx">
        <clr-tree *ngIf="visibleOptions.length; else noVisibleOptions">
          <clr-tree-node
            *ngFor="let group of visibleOptions; index as i"
            [clrExpanded]="isGroupExpanded[i] || !!searchTerm"
            (clrExpandedChange)="onGroupExpandedChange(i, $event)"
            (change)="onGroupSelectedChange($event, i)"
          >
            <span class="filter-group-label">
              {{ group.label }}
              <ng-container *ngIf="showSelectedAmount">
                ({{ getGroupSelectedAmountLabel(group) }})
              </ng-container>
            </span>
            <clr-tree-node
              *ngFor="let option of group.items; trackBy: trackByValue"
              [clrSelected]="selectedValues.has(option.value)"
              (change)="onItemSelectedChange($event, option.value, i)"
              [class.stretch-labels]="stretchLabels"
            >
              <ng-container
                [ngTemplateOutlet]="customLabelTpl || defaultLabelTpl"
                [ngTemplateOutletContext]="{ $implicit: option, marked: searchTerm }"
              />
              <ng-template #defaultLabelTpl>
                <span
                  *ngIf="searchTerm; else unmarkedLabel"
                  [innerHtml]="option.label | markMatched:searchTerm"
                ></span>
                <ng-template #unmarkedLabel>
                  {{ option.label }}
                </ng-template>
              </ng-template>
            </clr-tree-node>
          </clr-tree-node>
        </clr-tree>

        <ng-template #noVisibleOptions>
          <div class="no-options">
            <ng-container *ngIf="options.length; else noOptionsAtAll">
              <cds-icon shape="warning-standard" status="warning" solid />
              No options found for the entered search-term
            </ng-container>
            <ng-template #noOptionsAtAll>
              <cds-icon shape="info-standard" status="info" solid />
              No options available
            </ng-template>
          </div>
        </ng-template>
      </div>

      <div class="filter-buttons">
        <button
          type="button"
          class="btn btn-block btn-sm"
          (click)="clearSelection()"
          [disabled]="!selectedValues.size"
        >
          <cds-icon shape="filter-off" />
          Show All
        </button>
        <button
          *ngIf="hasCustomDefaultState"
          type="button"
          class="btn btn-block btn-sm"
          (click)="resetToDefault()"
          [disabled]="isStateDefault"
        >
          <cds-icon shape="filter" />
          Reset to Default
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loadingOptions>
  <div class="await-loading">
    <div>
      Loading... <span class="spinner spinner-inline"></span>
    </div>
    <div>Please wait</div>
  </div>
</ng-template>

<ng-template #wrongConfig>
  <div class="config-errors">
    There are some issues with the component's inputs:
    <ul>
      <li *ngFor="let error of configErrors">{{ error }}</li>
    </ul>
  </div>
</ng-template>
