<div [style.width.px]="widthPx()">
  @if (!configErrors.length) {
    @if (!loading()) {
      @if (title()) {
        <div class="filter-title">
          {{ title() }}
        </div>
      }

      @if (
        showSelectedAmount() === EcShowSelected.Always ||
        (showSelectedAmount() === EcShowSelected.WithSearchbar && showSearchBar)
      ) {
        <div class="filter-selected-amount">
          {{ totalSelectedAmountLabel }}
        </div>
      }

      @if (showSearchBar) {
        <ec-search-bar
          class="filter-search-bar"
          (valueChange)="onSearchTermChange($event)"
          [debounceMs]="0"
          [highlightActive]="false"
          [placeholder]="commonStrings.keys.datagridFilters.filterOptions"
        />
      }

      <div class="filter-options" [style.max-height.px]="maxHeightPx()">
        @if (visibleOptions.length) {
          <clr-tree>
            @for (group of visibleOptions; track group; let i = $index) {
              <clr-tree-node
                [clrExpanded]="isGroupExpanded[i] || !!searchTerm"
                (clrExpandedChange)="onGroupExpandedChange(i, $event)"
                (change)="onGroupSelectedChange($event, i)"
              >
                <span class="filter-group-label">
                  {{ group.label }}

                  @if (showSelectedAmount()) {
                    ({{ getGroupSelectedAmountLabel(group) }})
                  }
                </span>

                @for (option of group.items; track option.value) {
                  <clr-tree-node
                    [clrSelected]="selectedValues.has(option.value)"
                    (change)="onItemSelectedChange($event, option.value, i)"
                    [class.stretch-labels]="stretchLabels()"
                  >
                    @if (customLabelTpl(); as _customLabelTpl) {
                      <ng-container
                        [ngTemplateOutlet]="_customLabelTpl"
                        [ngTemplateOutletContext]="{ $implicit: option, marked: searchTerm }"
                      />
                    } @else if (searchTerm) {
                      <span [innerHtml]="option.label | markMatched: searchTerm"></span>
                    } @else {
                      {{ option.label }}
                    }
                  </clr-tree-node>
                }
              </clr-tree-node>
            }
          </clr-tree>
        } @else if (options().length) {
          <div class="no-options">
            <cds-icon shape="warning-standard" status="warning" solid />
            {{ commonStrings.keys.datagridFilters.noOptionsFound }}
          </div>
        } @else {
          <div class="no-options">
            <cds-icon shape="info-standard" status="info" solid />
            {{ commonStrings.keys.datagridFilters.noOptionsAvailable }}
          </div>
        }
      </div>

      <div class="filter-buttons">
        <button
          type="button"
          class="btn btn-block btn-sm"
          (click)="clearSelection()"
          [disabled]="!selectedValues.size"
        >
          <cds-icon shape="filter-off" />
          {{ commonStrings.keys.datagridFilters.clear }}
        </button>

        @if (hasCustomDefaultState) {
          <button
            type="button"
            class="btn btn-block btn-sm"
            (click)="resetToDefault()"
            [disabled]="isStateDefault"
          >
            <cds-icon shape="filter" />
            {{ commonStrings.keys.datagridFilters.resetToDefault }}
          </button>
        }
      </div>
    } @else {
      <div class="await-loading">
        <span class="spinner spinner-inline"></span>
        <div>{{ commonStrings.keys.datagridFilters.loading }}</div>
        <div>{{ commonStrings.keys.datagridFilters.pleaseWait }}</div>
      </div>
    }
  } @else {
    <div class="config-errors">
      {{ commonStrings.keys.datagridFilters.inputIssuesMessage }}
      <ul>
        @for (error of configErrors; track error) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>
  }
</div>
