<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    [formControl]="toggleControl"
    (change)="onToggle()"
    class="form-control"
  >
  <label class="p5 text-label">
    <ng-container *ngIf="!toggleControl.value; else timer">
      Auto refresh disabled
    </ng-container>

    <ng-template #timer>
      <ng-container *ngIf="!refreshing; else refresh">
        <ng-container *ngIf="timer$ | async as time">
          Auto refresh in {{ time }} sec
        </ng-container>
      </ng-container>

      <ng-template #refresh>
        Refreshing...
      </ng-template>
    </ng-template>
  </label>
</clr-toggle-wrapper>
