<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    [formControl]="toggleControl"
    (change)="onToggle()"
    class="form-control"
  >
  <label class="p5 text-label">
    <ng-container *ngIf="toggleControl.value && _period > 0; else disabled">
      {{
        refreshing
          ? 'Refreshing...'
          : 'Auto refresh in ' + secondsRemaining + ' sec'
      }}
    </ng-container>
    <ng-template #disabled>
      Auto refresh disabled
    </ng-template>
  </label>
</clr-toggle-wrapper>
