:host {
  ::ng-deep {
    .clr-form-control:first-child {
      margin-top: 0;
    }

    .clr-control-container {
      width: 100%;
    }

    .btn-block {
      margin-top: 1rem;
    }

    input {
      width: 100%;
    }
  }
}