<div
  class="notification"
  [@slide]="state"
  (@slide.done)="animationStateChanged$.next($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <clr-alert
    [clrAlertType]="data.type"
    [clrAlertClosable]="config.closable"
    (clrAlertClosedChange)="onClose()"
  >
    <clr-alert-item>
      <span class="alert-text">
        @if (!data.template) {
          {{ instance().message }}
        } @else {
          <ng-container
            [ngTemplateOutlet]="instance().template!"
            [ngTemplateOutletContext]="{ $implicit: this, data: config.data }"
          />
        }
      </span>
    </clr-alert-item>
  </clr-alert>
</div>
