<div [style.width.px]="width">
  <h3 class="p2 filter-title">Filter by {{ propertyDisplayName }}</h3>

  <div
    *ngFor="let filter of filters; trackBy: trackByValue"
    [class.clr-checkbox-wrapper]="multiple"
    [class.clr-radio-wrapper]="!multiple"
  >
    <input
      [type]="multiple ? 'checkbox' : 'radio'"
      [value]="filter"
      [checked]="filter.selected"
      [class.clr-checkbox]="multiple"
      [class.clr-radio]="!multiple"
    />
    <label (click)="onSelect(filter)" class="clr-control-label">
      <ng-container
        [ngTemplateOutlet]="customLabelTpl || defaultLabelTpl"
        [ngTemplateOutletContext]="{ $implicit: filter }"
      ></ng-container>
    </label>
    <ng-template #defaultLabelTpl>
      {{ filter.label.toString() | titlecase }}
    </ng-template>
  </div>

  <button
    type="button"
    class="btn btn-icon btn-block btn-sm filter-reset-btn"
    (click)="onReset()"
    [disabled]="!isDirty"
  >
    RESET
  </button>
</div>
