<div [style.width.px]="width">
  <h3 class="p2 filter-title">Filter by {{ propertyDisplayName }}</h3>

  <clr-radio-wrapper *ngFor="let value of values">
    <input
      type="radio"
      clrRadio
      [value]="value"
      [formControl]="control"
    />
    <label>
      <ng-container
        [ngTemplateOutlet]="customLabelTpl || defaultLabelTpl"
        [ngTemplateOutletContext]="{ $implicit: value }"
      ></ng-container>
    </label>
    <ng-template #defaultLabelTpl>
      {{ value.toString() | titlecase }}
    </ng-template>
  </clr-radio-wrapper>

  <button
    type="button"
    class="btn btn-icon btn-block btn-sm filter-reset-btn"
    (click)="onReset()"
    [disabled]="!control.dirty && !control.value"
  >
    RESET
  </button>
</div>
