<div [style.width.px]="widthPx">
  <ng-container *ngIf="!configErrors.length; else wrongConfig">
    <clr-radio-container *ngIf="presets.length" class="presets-container">
      <clr-radio-wrapper *ngFor="let preset of presets">
        <input
          type="radio"
          clrRadio
          [formControl]="radioControl"
          [value]="preset.key"
          [name]="propertyKey"
        />
        <label [class.label-selected]="filterValue.preset === preset.key">
          {{ preset.label }}
        </label>
      </clr-radio-wrapper>

      <clr-radio-wrapper *ngIf="withCustomRange" class="custom-range-radio">
        <input
          type="radio"
          clrRadio
          [formControl]="radioControl"
          [value]="null"
          [name]="propertyKey"
        />
        <label [class.label-selected]="filterValue.preset === null">
          {{ commonStrings.keys.shared.customPeriod }}
        </label>
      </clr-radio-wrapper>
    </clr-radio-container>

    <ec-date-time-group
      *ngIf="withCustomRange"
      class="custom-range-input"
      [value]="visualCustomRange"
      [disabled]="radioControl.value !== null"
      [forceEnabledButtons]="radioControl.value !== filterValue.preset"
      [withTime]="withTime"
      (apply)="onCustomRangeApply($event)"
      (discard)="onCustomRangeDiscard()"
    />

    <button
    *ngIf="presets.length && !hasAllTimePreset && !withCustomRange && !defaultPreset"
      class="btn btn-sm btn-block"
      [disabled]="filterValue.preset === null"
      (click)="resetToDefault()"
    >
      {{ commonStrings.keys.datagridFilters.showAllTime }}
    </button>
  </ng-container>

  <ng-template #wrongConfig>
    <div class="config-errors">
      {{ commonStrings.keys.datagridFilters.inputIssuesMessage }}
      <ul>
        <li *ngFor="let error of configErrors">{{ error }}</li>
      </ul>
    </div>
  </ng-template>
</div>
