<label *ngIf="label" [for]="inputId" class="clr-control-label ec-search-bar-label">
  {{ label }}
</label>

<div class="ec-input-wrapper">
  <cds-icon
    class="ec-search-bar-icon"
    status="info"
    [attr.shape]="iconOnFill && formControl.value ? iconOnFill : 'search'"
  />
  <clr-input-container [class.active]="highlightActive && formControl.value">
    <input
      type="text"
      #searchInputRef
      clrInput
      [id]="inputId"
      [placeholder]="placeholder || commonStrings.keys.shared.typeToSearch"
      [formControl]="formControl"
    />
  </clr-input-container>
  <button
    *ngIf="formControl.value"
    type="button"
    class="btn btn-sm btn-icon ec-search-bar-clear"
    (click)="clearInput()"
    [disabled]="isDisabled"
  >
    <cds-icon shape="window-close" />
  </button>
</div>
