:host {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  align-items: flex-end;
}

:host ::ng-deep {
  .clr-form-control {
    margin-top: 0;

    &.active {
      background-color: var(--clr-color-action-50, #e3f5fc);
    }
  }

  .clr-control-container,
  .clr-input-wrapper,
  .clr-input-group,
  .clr-input {
    width: 100% !important;
  }

  .clr-input {
    padding: 0 1.25rem !important;
  }
}

.ec-search-bar-label {
  line-height: 1.1rem;
  vertical-align: middle;
}

.ec-input-wrapper {
  flex: 1;
  position: relative;
}

.ec-search-bar-icon {
  position: absolute;
  left: 0.15rem;
  top: 0.2rem;
}

.ec-search-bar-clear {
  border: none;
  position: absolute;
  right: 0;
  top: 0.1rem;
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
}
