.filter-options {
  overflow-y: auto;
  padding: 0 0.15rem;

  &:not(:first-child) {
    margin-top: 0.25rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.65rem;
  }
}

:host ::ng-deep .checkbox-container {
  margin-top: 0;

  &.stretch-labels {
    .clr-control-container,
    .clr-control-label {
      width: 100%;
    }
  }

  .category-label {
    margin: 0.2rem 0;
  }

  $divider-height: 0.6rem;

  &.with-margin-top {
    margin-top: $divider-height;
  }

  &.with-margin-bottom {
    margin-bottom: $divider-height;
  }

  &.with-divider-top::before,
  &.with-divider-bottom::after {
    content: "";
    display: block;
    width: 100%;
    height: calc($divider-height / 2);
    margin-top: calc($divider-height / 2);
    border-top: 1px solid var(--cds-alias-object-border-color, #cbd4d8);
  }
}

.filter-title,
.filter-selected-amount {
  font-size: 0.65rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.filter-title {
  font-weight: 600;
}

.filter-buttons {
  button {
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: 0.25rem;
    }
  }
}

.await-loading {
  font-size: 0.65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .spinner {
    margin: 0;
    margin-bottom: 0.6rem;
  }
}

.config-errors {
  font-size: 0.65rem;
  line-height: 1.5;
}

.filter-search-bar {
  margin-bottom: 0.5rem;

  &:not(:first-child) {
    margin-top: 0.25rem;
  }
}

.no-options {
  display: flex;
  font-size: 0.65rem;
  line-height: 0.8rem;

  cds-icon {
    margin: 0 0.3rem 0 0.1rem;
  }
}
