<div [style.width.px]="widthPx">
  @if (configErrors.length) {
    <div class="config-errors">
      {{ commonStrings.keys.datagridFilters.inputIssuesMessage }}
      <ul>
        @for (error of configErrors; track error) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>

    <!-- -->
  } @else if (loading) {
    <div class="await-loading">
      <div>
        {{ commonStrings.keys.datagridFilters.loading }}
        <span class="spinner spinner-inline"></span>
      </div>
      <div>{{ commonStrings.keys.datagridFilters.pleaseWait }}</div>
    </div>

    <!--  -->
  } @else {
    @if (title) {
      <div class="filter-title">{{ title }}</div>
    }

    @if (
      showSelectedAmount === EcShowSelected.Always ||
      (showSelectedAmount === EcShowSelected.WithSearchbar && showSearchBar)
    ) {
      <div class="filter-selected-amount">{{ selectedAmountLabel }}</div>
    }

    @if (showSearchBar) {
      <ec-search-bar
        class="filter-search-bar"
        (valueChange)="onSearchTermChange($event)"
        [debounceMs]="0"
        [highlightActive]="false"
        [placeholder]="commonStrings.keys.datagridFilters.filterOptions"
      />
    }

    <div class="filter-options" [style.max-height.px]="maxHeightPx">
      @for (optionCategory of visibleOptionCategories; track $index) {
        <clr-checkbox-container
          class="checkbox-container"
          [class.stretch-labels]="stretchLabels"
          [class.with-margin-top]="optionCategory.withMarginTop"
          [class.with-divider-top]="optionCategory.withDividerTop"
          [class.with-margin-bottom]="optionCategory.withMarginBottom"
          [class.with-divider-bottom]="optionCategory.withDividerBottom"
        >
          @if (optionCategory.label) {
            <label class="category-label">{{ optionCategory.label }}</label>
          }

          @for (option of optionCategory.options; track option.value) {
            <clr-checkbox-wrapper>
              <input
                type="checkbox"
                clrCheckbox
                [name]="propertyKey"
                [checked]="selectedValues.has(option.value)"
                (change)="onInputChange($event, option.value)"
              />
              <label>
                <ng-container
                  [ngTemplateOutlet]="customLabelTpl || defaultLabelTpl"
                  [ngTemplateOutletContext]="{
                    $implicit: option,
                    marked: searchTerm
                  }"
                />
                <ng-template #defaultLabelTpl>
                  @if (searchTerm) {
                    <span
                      [innerHtml]="option.label | markMatched: searchTerm"
                    ></span>
                  } @else {
                    {{ option.label }}
                  }
                </ng-template>
              </label>
            </clr-checkbox-wrapper>
          }
        </clr-checkbox-container>

        <!-- -->
      } @empty {
        <div class="no-options">
          @if (!options.length) {
            <cds-icon shape="info-standard" status="info" solid />
            {{ commonStrings.keys.datagridFilters.noOptionsAvailable }}
          } @else if (searchTerm) {
            <cds-icon shape="warning-standard" status="warning" solid />
            {{ commonStrings.keys.datagridFilters.noOptionsFound }}
          } @else {
            <cds-icon shape="warning-standard" status="danger" solid />
            <!-- TODO: add this text to commonStrings -->
            Wrong config detected at the [categories] input
          }
        </div>
      }
    </div>

    <div class="filter-buttons">
      <button
        type="button"
        class="btn btn-block btn-sm"
        (click)="clearSelection()"
        [disabled]="!selectedValues.size"
      >
        <cds-icon shape="filter-off" />
        {{ commonStrings.keys.datagridFilters.clear }}
      </button>

      @if (hasCustomDefaultState) {
        <button
          type="button"
          class="btn btn-block btn-sm"
          (click)="resetToDefault()"
          [disabled]="isStateDefault"
        >
          <cds-icon shape="filter" />
          {{ commonStrings.keys.datagridFilters.resetToDefault }}
        </button>
      }
    </div>
  }
</div>
