<clr-datagrid>
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>
    Name
    <clr-dg-filter>
      <ec-enumerated-value-filter
        [values]="values"
        [width]="width"
        [propertyKey]="'name'"
        [multiple]="multiple"
        [propertyDisplayName]="propertyDisplayName"
        [serverDriven]="false"
      />
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column>Creation date</clr-dg-column>
  <clr-dg-column>Favorite color</clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
    <clr-dg-cell>{{ user.id }}</clr-dg-cell>
    <clr-dg-cell>{{ user.name }}</clr-dg-cell>
    <clr-dg-cell>{{ user.createdAt | date }}</clr-dg-cell>
    <clr-dg-cell>{{ user.color }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ users.length }} users</clr-dg-footer>
</clr-datagrid>
