<clr-datagrid>
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>
    <ng-container>Name</ng-container>
    <clr-dg-filter>
      <ec-partial-string-filter
        [minLength]="minLength"
        [width]="width"
        [propertyDisplayName]="propertyDisplayName"
        [propertyKey]="'name'"
        [fullMatch]="fullMatch"
        [placeholder]="placeholder"
        [debounceTimeMs]="debounceTimeMs"
      ></ec-partial-string-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column>Creation date</clr-dg-column>
  <clr-dg-column>Favorite color</clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
    <clr-dg-cell>{{ user.id }}</clr-dg-cell>
    <clr-dg-cell>{{ user.name }}</clr-dg-cell>
    <clr-dg-cell>{{ user.createdAt | date }}</clr-dg-cell>
    <clr-dg-cell>{{ user.color }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ users.length }} users</clr-dg-footer>
</clr-datagrid>
