<ec-dialog
  [closable]="config.closable!"
  [closableBackdrop]="config.closableBackdrop!"
  [size]="config.size!"
>
  <div dialog-title>{{ config.title }}</div>

  <div dialog-content>
    <clr-alert *ngIf="config.message" [clrAlertType]="config.type" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">{{ config.message }}</span>
      </clr-alert-item>
    </clr-alert>

    <ng-container
      *ngIf="config.template"
      [ngTemplateOutlet]="config.template"
      [ngTemplateOutletContext]="config.data"
    ></ng-container>

    <ng-container
      *ngIf="config.component"
      [ngComponentOutlet]="config.component"
      [ngComponentOutletContent]="config.data"
    ></ng-container>
  </div>

  <div dialog-footer>
    <button
      *ngIf="!config.rejectBtnHidden"
      type="button"
      class="btn btn-outline"
      [class.btn-info-outline]="config.type === 'info'"
      [class.btn-success-outline]="config.type === 'success'"
      [class.btn-warning-outline]="config.type === 'warning'"
      [class.btn-danger-outline]="config.type === 'danger'"
      [ngClass]="config.rejectBtn?.classes"
      (click)="onReject()"
    >
      {{ config.rejectBtn?.label || 'Cancel' }}
    </button>

    <button
      type="button"
      class="btn btn-primary"
      [class.btn-info]="config.type === 'info'"
      [class.btn-success]="config.type === 'success'"
      [class.btn-warning]="config.type === 'warning'"
      [class.btn-danger]="config.type === 'danger'"
      [ngClass]="config.acceptBtn?.classes"
      [clrLoading]="acceptBtnState"
      (click)="onAccept()"
    >
      {{ config.acceptBtn?.label || 'Ok' }}
    </button>
  </div>
</ec-dialog>
