<ec-dialog
  [closable]="config.closable!"
  [closableBackdrop]="config.closableBackdrop!"
  [size]="config.size!"
>
  <div dialog-title>{{ config.title }}</div>

  <div dialog-content>
    <div *ngIf="!config.template && !config.component">
      {{ config.message }}
    </div>

    <ng-container
      *ngIf="config.template"
      [ngTemplateOutlet]="config.template"
      [ngTemplateOutletContext]="config.data"
    />

    <ng-container
      *ngIf="config.component"
      [ngComponentOutlet]="config.component"
      [ngComponentOutletContent]="config.data"
    />
  </div>

  <div dialog-footer>
    <button
      *ngIf="!config.rejectBtnHidden"
      type="button"
      class="btn btn-outline"
      [class.btn-info-outline]="config.type === 'info'"
      [class.btn-success-outline]="config.type === 'success'"
      [class.btn-warning-outline]="config.type === 'warning'"
      [class.btn-danger-outline]="config.type === 'danger'"
      [ngClass]="config.rejectBtn?.classes"
      (click)="onReject()"
    >
      {{ config.rejectBtn?.label || config.rejectBtnLabel || commonStrings.keys.dialog.cancel }}
    </button>

    <button
      type="button"
      class="btn btn-primary"
      [class.btn-info]="config.type === 'info'"
      [class.btn-success]="config.type === 'success'"
      [class.btn-warning]="config.type === 'warning'"
      [class.btn-danger]="config.type === 'danger'"
      [ngClass]="config.acceptBtn?.classes"
      [clrLoading]="acceptBtnState"
      (click)="onAccept()"
    >
      {{ config.acceptBtn?.label || config.acceptBtnLabel || commonStrings.keys.dialog.ok }}
    </button>
  </div>
</ec-dialog>
