<div [style.width.px]="widthPx">
  @if (configErrors.length) {
    <!-- Config Errors -->

    <div class="config-errors">
      {{ commonStrings.keys.datagridFilters.inputIssuesMessage }}
      <ul>
        @for (error of configErrors; track error) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>
  } @else if (loading) {
    <!-- Options loading -->

    <div class="await-loading">
      <div>
        {{ commonStrings.keys.datagridFilters.loading }}
        <span class="spinner spinner-inline"></span>
      </div>
      <div>{{ commonStrings.keys.datagridFilters.pleaseWait }}</div>
    </div>
  } @else {
    <!-- Normal mode -->

    @if (title) {
      <div class="filter-title">{{ title }}</div>
    }

    @if (
      showSelectedValue === EcShowSelected.Always ||
      (showSelectedValue === EcShowSelected.WithSearchbar && showSearchBar)
    ) {
      <div class="filter-selected-value">{{ selectedValueLabel }}</div>
    }

    @if (showSearchBar) {
      <ec-search-bar
        class="filter-search-bar"
        (valueChange)="onSearchTermChange($event)"
        [debounceMs]="0"
        [highlightActive]="false"
        [placeholder]="commonStrings.keys.datagridFilters.filterOptions"
      />
    }

    <div class="filter-options" [style.max-height.px]="maxHeightPx">
      @if (visibleOptions.length) {
        <clr-radio-container
          class="radio-container"
          [class.stretch-labels]="stretchLabels"
        >
          @for (option of visibleOptions; track option) {
            <clr-radio-wrapper>
              <input
                type="radio"
                clrRadio
                [name]="propertyKey"
                [checked]="option.value === filterValue"
                (change)="onInputChange(option.value)"
              />
              <label>
                <ng-container
                  [ngTemplateOutlet]="customLabelTpl || defaultLabelTpl"
                  [ngTemplateOutletContext]="{
                    $implicit: option,
                    marked: searchTerm
                  }"
                />
                <ng-template #defaultLabelTpl>
                  @if (searchTerm) {
                    <span
                      [innerHtml]="option.label | markMatched: searchTerm"
                    ></span>
                  } @else {
                    {{ option.label }}
                  }
                </ng-template>
              </label>
            </clr-radio-wrapper>
          }
        </clr-radio-container>
      } @else {
        <div class="no-options">
          @if (options.length) {
            <cds-icon shape="warning-standard" status="warning" solid />
            {{ commonStrings.keys.datagridFilters.noOptionsFound }}
          } @else {
            <cds-icon shape="info-standard" status="info" solid />
            {{ commonStrings.keys.datagridFilters.noOptionsAvailable }}
          }
        </div>
      }
    </div>

    <div class="filter-buttons">
      <button
        type="button"
        class="btn btn-block btn-sm"
        (click)="clearSelection()"
        [disabled]="filterValue === null"
      >
        <cds-icon shape="filter-off" />
        {{ commonStrings.keys.datagridFilters.clear }}
      </button>

      @if (hasCustomDefaultState) {
        <button
          type="button"
          class="btn btn-block btn-sm"
          (click)="resetToDefault()"
          [disabled]="isStateDefault"
        >
          <cds-icon shape="filter" />
          {{ commonStrings.keys.datagridFilters.resetToDefault }}
        </button>
      }
    </div>
  }
</div>
