.filter-options {
  overflow-y: auto;
  padding-left: .15rem;

  &:not(:first-child) {
    margin-top: .25rem;
  }

  &:not(:last-child) {
    margin-bottom: .65rem;
  }
}

:host ::ng-deep .radio-container {
  margin-top: 0;

  &.stretch-labels {
    .clr-control-container,
    .clr-control-label {
      width: 100%;
    }
  }
}

.filter-title,
.filter-selected-value {
  font-size: .65rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.filter-selected-value {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-title {
  font-weight: 600;
}

.filter-buttons {
  button {
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: .25rem;
    }
  }
}

.await-loading {
  font-size: .65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.config-errors {
  font-size: .65rem;
  line-height: 1.5;
}

.filter-search-bar {
  margin-bottom: 0.5rem;

  &:not(:first-child) {
    margin-top: .25rem;
  }
}

.no-options {
  display: flex;
  font-size: 0.65rem;
  line-height: 0.8rem;

  cds-icon {
    margin: 0 0.3rem 0 0.1rem;
  }
}
