<div [style.width.px]="widthPx">
  <ng-container *ngIf="!configErrors.length; else wrongConfig">

    <ng-container *ngIf="!loading; else loadingOptions">
      <div class="filter-title" *ngIf="title">
        {{ title }}
      </div>

      <div class="filter-selected-value" *ngIf="showSelectedValue">
        Selected: {{ selectedValueLabel }}
      </div>

      <ec-filter-search-bar
        class="filter-search-bar"
        *ngIf="withSearchBar"
        (valueChange)="onSearchTermChange($event)"
      />

      <div class="filter-options" [style.max-height.px]="maxHeightPx">
        <clr-radio-container
          *ngIf="visibleOptions.length; else noVisibleOptions"
          class="radio-container"
          [class.stretch-labels]="stretchLabels"
        >
          <clr-radio-wrapper *ngFor="let option of visibleOptions; trackBy: trackByValue">
            <input
              type="radio"
              clrRadio
              [name]="propertyKey"
              [checked]="option.value === filterValue"
              (change)="onInputChange(option.value)"
            />
            <label>
              <ng-container
                [ngTemplateOutlet]="customLabelTpl || defaultLabelTpl"
                [ngTemplateOutletContext]="{ $implicit: option, marked: searchTerm }"
              />
              <ng-template #defaultLabelTpl>
                <span
                  *ngIf="searchTerm; else unmarkedLabel"
                  [innerHtml]="option.label | markMatched:searchTerm"
                ></span>
                <ng-template #unmarkedLabel>
                  {{ option.label }}
                </ng-template>
              </ng-template>
            </label>
          </clr-radio-wrapper>
        </clr-radio-container>

        <ng-template #noVisibleOptions>
          <div class="no-options">
            <ng-container *ngIf="options.length; else noOptionsAtAll">
              <cds-icon shape="warning-standard" status="warning" solid />
              No options found for the entered search-term
            </ng-container>
            <ng-template #noOptionsAtAll>
              <cds-icon shape="info-standard" status="info" solid />
              No options available
            </ng-template>
          </div>
        </ng-template>
      </div>

      <div class="filter-buttons">
        <button
          type="button"
          class="btn btn-block btn-sm"
          (click)="clearSelection()"
          [disabled]="filterValue === null"
        >
          Show All
        </button>
        <button
          *ngIf="hasCustomDefaultState"
          type="button"
          class="btn btn-block btn-sm"
          (click)="resetToDefault()"
          [disabled]="isStateDefault"
        >
          Reset to Default
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loadingOptions>
  <div class="await-loading">
    <div>
      Loading... <span class="spinner spinner-inline"></span>
    </div>
    <div>Please wait</div>
  </div>
</ng-template>

<ng-template #wrongConfig>
  <div class="config-errors">
    There are some issues with the component's inputs:
    <ul>
      <li *ngFor="let error of configErrors">{{ error }}</li>
    </ul>
  </div>
</ng-template>
