<button
  [@.disabled]="!withAnimation"
  @parent
  type="button"
  class="btn"
  [class.no-border]="!withBorder"
  [style.height.px]="heightPx ?? sizePx"
  [style.width.px]="widthPx ?? sizePx"
  [disabled]="disabled || !textToCopyAsString"
  [title]="title || commonStrings.keys.buttonCopyToClipboard.title"
  (click)="copy()"
>
  <!-- Imitating button[clrLoading], but without the initial animation (i.e. w/o 'fade in' for the DEFAULT state) -->
  <ng-container [ngSwitch]="btnLoadingState">
    <div *ngSwitchCase="clrLoadingState.LOADING" class="button-inner-box">
      <span
        @spinner
        class="spinner spinner-inline"
        [ngStyle]="spinnerStylePatch"
      ></span>
    </div>

    <div *ngSwitchCase="clrLoadingState.SUCCESS" class="button-inner-box">
      <span
        @validated (@validated.done)="resetToDefaultState()"
        class="spinner spinner-inline spinner-check"
        [ngStyle]="spinnerStylePatch"
      ></span>
    </div>

    <div *ngSwitchCase="clrLoadingState.DEFAULT" @defaultButton class="button-inner-box">
      <cds-icon shape="copy" [size]="iconSizeAsString" />
      <span *ngIf="label" [style.font-size.px]="labelFontSizePx">
        {{ label }}
      </span>
    </div>
  </ng-container>
</button>
