button {
  margin: 0;
  padding: 0;
  min-width: 1.2rem;

  &.no-border {
    border: none;
  }

  &:active {
    box-shadow: none;
  }

  cds-icon {
    margin-top: 0 !important;
  }
}

.button-inner-box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  column-gap: .2rem;
}
