@let _navItem = navItem();
@if (_navItem) {
  <clr-vertical-nav-group
    [class.active]="hasActiveLink"
    [(clrVerticalNavGroupExpanded)]="isExpanded"
  >
    @if (_navItem.icon) {
      <cds-icon clrVerticalNavIcon [attr.shape]="_navItem.icon" />
    }

    <ec-sidebar-nav-label [navItem]="_navItem" [isBold]="isBold()" />

    <clr-vertical-nav-group-children>
      @for (nestedItem of _navItem.children; track nestedItem) {
        <ec-sidebar-nav-item [navItem]="nestedItem" />
      }
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
}
