<button
  type="button"
  [class]="buttonClasses"
  [disabled]="btnDisabled"
  [attr.aria-expanded]="isOpen"
  [attr.aria-controls]="popoverId"
  [attr.aria-owns]="popoverId"
  clrPopoverAnchor
  clrPopoverOpenCloseButton
  #anchor
>
  <ng-container *ngIf="customLabelContent; else labelTextTmpl">
    <ng-content select="ec-popover-toggle-label, [ecPopoverToggleLabel]" />
  </ng-container>
  <ng-template #labelTextTmpl>
    <ng-container *ngIf="withDropdownIcon; else withoutDropdownIconTmpl">
      <ng-container *ngIf="dropdownIconPosition === DropdownIconPosition.Right; else leftIconTmpl">
        {{ labelText }}
        <cds-icon shape="angle" size="10" [direction]="dropdownIconDirection" />
      </ng-container>
      <ng-template #leftIconTmpl>
        <cds-icon shape="angle" size="10" [direction]="dropdownIconDirection" />
        {{ labelText }}
      </ng-template>
    </ng-container>
    <ng-template #withoutDropdownIconTmpl>
      {{ labelText }}  
    </ng-template>
  </ng-template>
</button>

<div
  [id]="popoverId"
  cdkTrapFocus
  *clrPopoverContent="
    isOpen;
    at: popoverPosition;
    outsideClickToClose: closeOnClickOutside;
    scrollToClose: closeOnScroll;
  "
  class="ec-popover-content"
>
  <ng-content />
</div>
