<button
  type="button"
  [class]="buttonClasses"
  [disabled]="btnDisabled"
  [attr.aria-expanded]="isOpen"
  [attr.aria-controls]="popoverId"
  [attr.aria-owns]="popoverId"
  clrPopoverAnchor
  clrPopoverOpenCloseButton
  #anchor
>
  @if (customLabelContent()) {
    <ng-content select="ec-popover-toggle-label, [ecPopoverToggleLabel]" />
  } @else {
    @if (withDropdownIcon) {
      @if (dropdownIconPosition === EcDropdownIconPosition.Right) {
        {{ labelText }}
        <cds-icon shape="angle" size="10" [attr.direction]="dropdownIconDirection" />
      } @else {
        <cds-icon shape="angle" size="10" [attr.direction]="dropdownIconDirection" />
        {{ labelText }}
      }
    } @else {
      {{ labelText }}
    }
  }
</button>

<div
  [id]="popoverId"
  cdkTrapFocus
  *clrPopoverContent="
    isOpen;
    at: popoverPosition;
    outsideClickToClose: closeOnClickOutside;
    scrollToClose: closeOnScroll
  "
  class="ec-popover-content"
>
  <ng-content />
</div>
