<ng-container *ngFor="let navItem of navList">
  <ec-sidebar-nav-group
    *ngIf="navItem.type === NavItemTypeEnum.Group"
    [navItem]="navItem"
    [isBold]="rootLevelBold === 'all' || rootLevelBold === 'groups'"
  />
  <ec-sidebar-nav-item
    *ngIf="navItem.type !== NavItemTypeEnum.Group"
    [navItem]="navItem"
    [isBold]="rootLevelBold === 'all' || rootLevelBold === 'items'"
  />
</ng-container>

<!-- Fixes NG0100 ExpressionChangedAfterItHasBeenCheckedError -->
<clr-vertical-nav-group hidden aria-hidden="true" />
