.ec-container {
  display: flex;
  align-items: center;

  &.ec-with-auto-refresh {
    min-width: 15rem;
  }
}

.ec-auto-refresh {
  margin-right: 0.2rem;
}

.ec-refresh-btn {
  margin: 0;
  padding: 0;
  text-align: end;

  &.ec-margin-left-auto {
    margin-left: auto;
  }

  .ec-invisible {
    visibility: hidden;
  }

  .ec-text-failed {
    color: #e02200;
  }
}
