<div class="container" [ngClass]="{ 'with-auto-refresh': useAutoRefresh }">
  <ec-auto-refresh
    *ngIf="useAutoRefresh"
    [blocked]="autoRefreshBlocked"
    [enabled]="autoRefreshEnabled"
    [period]="period"
    [refreshing]="refreshing"
    (refresh)="onRefresh()"
    (toggle)="onAutoRefreshChanged($event)"
    class="ec-auto-refresh"
  ></ec-auto-refresh>

  <div class="refresh-state">
    <cds-icon
      *ngIf="failed && !refreshing"
      shape="error-standard"
      status="danger"
      size="18"
    ></cds-icon>
  </div>

  <button
    type="button"
    class="btn btn-link refresh-btn"
    [ngClass]="{ 'failed': failed && !refreshing }"
    [disabled]="refreshing"
    (click)="onRefresh()"
  >
    {{ lastFetchTimestamp | date:'mediumTime' }}

    <cds-icon
      *ngIf="!refreshing; else spinner"
      shape="refresh"
      status="{{ failed ? 'danger': '' }}"
    ></cds-icon>
    <ng-template #spinner>
      <span class="spinner spinner-inline"></span>
    </ng-template>
  </button>
</div>
