<ec-popover-toggle
  [anchorToContentAlign]="anchorToContentAlign()"
  [contentPosition]="contentPosition()"
  [btnDisabled]="btnDisabled()"
  [btnSmall]="btnSmall()"
  [btnStatus]="btnStatus()"
  [btnStyle]="btnStyle()"
  [closeOnClickOutside]="closeOnClickOutside()"
  [closeOnScroll]="closeOnScroll()"
  [open]="open()"
  (openChange)="openChange.emit($event)"
>
  <ec-popover-toggle-label>
    <div class="popover-toggle-label">
      <cds-icon shape="calendar" />
      <span class="popover-toggle-label-text">{{ selectedRangeLabel }}</span>
      <cds-icon shape="angle" direction="down" size="10" />
    </div>
  </ec-popover-toggle-label>

  <ec-time-range-filter
    [propertyKey]="propertyKey()"
    [presets]="presets()"
    [withCustomRange]="withCustomRange()"
    [closeOnChange]="closeOnChange()"
    [widthPx]="widthPx()"
    [value]="value()"
    [withTime]="withTime()"
    (filterValueChanged)="onTimeRangeChange($event)"
  />
</ec-popover-toggle>
