<ec-date-time-input
  #inputStart
  [label]="commonStrings.keys.datagridFilters.from"
  [disabled]="disabled"
  [withTime]="withTime"
  [(value)]="visualRange.start"
/>

<ec-date-time-input
  #inputEnd
  [label]="commonStrings.keys.datagridFilters.to"
  [disabled]="disabled"
  [withTime]="withTime"
  [(value)]="visualRange.end"
/>

<div class="apply-discard-group">
  <button
    type="button"
    class="btn btn-sm btn-primary"
    [disabled]="!forceEnabledButtons && (disabled || (!isRangeModified || isAnyInputInvalid))"
    (click)="onApply()"
  >
    <!-- <cds-icon shape="check" /> -->
    {{ commonStrings.keys.datagridFilters.apply }}
  </button>
  <button
    type="button"
    class="btn btn-sm btn-danger-outline"
    [disabled]="!forceEnabledButtons && (disabled || (!isRangeModified && !isAnyInputInvalid))"
    (click)="onDiscard()"
  >
    <!-- <cds-icon shape="undo" /> -->
    {{ commonStrings.keys.datagridFilters.discard }}
  </button>
</div>
