:host {
  display: block;

  & > :not(:first-child) {
    margin-top: 0.6rem;
  }
}

.apply-discard-group {
  display: flex;
  column-gap: 0.6rem;

  button {
    margin: 0;
    padding: 0 0.45rem;
  }
}
