<clr-input-container class="timestamp-row" [class.active]="isInputDirty(formControl)">
  @if (label) {
    <label class="timestamp-label">
      <span class="label-text">
        {{ label }}
      </span>

      @if (isInputDirty(formControl)) {
        <button
          type="button"
          class="btn btn-sm btn-link btn-clear-input"
          (click)="formControl.reset()"
        >
          {{ commonStrings.keys.datagridFilters.clear }}
        </button>
      }
    </label>
  }

  <input
    [type]="inputType"
    clrInput
    #datetimeInput
    class="timestamp-input"
    min="1970-01-01T00:00"
    max="2070-01-01T00:00"
    [formControl]="formControl"
    (blur)="validateOnBlur()"
  />

  <clr-control-error>
    {{ commonStrings.keys.timeRangeFilter.wrongInput }}
  </clr-control-error>
</clr-input-container>
