<div [style.width.px]="widthPx">
  @if (configErrors.length) {
    {{ commonStrings.keys.datagridFilters.inputIssuesMessage }}
    <ul>
      @for (error of configErrors; track error) {
        <li>{{ error }}</li>
      }
    </ul>
  } @else {
    <clr-input-container>
      <input
        #inputElement
        clrInput
        [formControl]="formControl"
        [placeholder]="placeholder || commonStrings.keys.shared.typeToSearch"
        type="text"
        autocomplete="off"
      />

      <clr-control-error>
        {{ validationErrorMessage }}
      </clr-control-error>

      <clr-control-helper>
        @if (!validationErrorMessage) {
          @if (formControl.value.length >= minLength) {
            {{
              usePlaceholderAsHelperText
                ? placeholder || commonStrings.keys.shared.typeToSearch
                : helperMessage
            }}
          } @else if (minLength > 1) {
            {{ minLengthMessage }}
          }
        }
      </clr-control-helper>
    </clr-input-container>

    <button
      type="button"
      class="btn btn-block btn-sm"
      (click)="onReset()"
      [disabled]="isStateDefault && !formControl.value"
    >
      <cds-icon shape="filter-off" />
      {{ commonStrings.keys.datagridFilters.clear }}
    </button>
  }
</div>
