<div [style.width.px]="widthPx">
  <ng-container *ngIf="!configErrors.length; else wrongConfig">
    <clr-input-container>
      <input
        #inputElement
        clrInput
        [formControl]="formControl"
        [placeholder]="placeholder"
        type="text"
        autocomplete="off"
      />
      <clr-control-helper *ngIf="isValueTooShort && minLength > 1">
        {{ minLengthMessage }}
      </clr-control-helper>
      <clr-control-helper *ngIf="!isValueTooShort">
        {{ searchMessage }}
      </clr-control-helper>
      <clr-control-error>
        {{ validationErrorMessage }}
      </clr-control-error>
    </clr-input-container>

    <button
      type="button"
      class="btn btn-block btn-sm"
      (click)="onReset()"
      [disabled]="isStateDefault && !formControl.value"
    >
      <cds-icon shape="filter-off" />
      {{ commonStrings.keys.datagridFilters.clear }}
    </button>
  </ng-container>
</div>

<ng-template #wrongConfig>
  {{ commonStrings.keys.datagridFilters.inputIssuesMessage }}
  <ul>
    <li *ngFor="let error of configErrors">{{ error }}</li>
  </ul>
</ng-template>
