.with-btn {
  display: flex;

  &.with-btn-right-aligned .cell-content {
    flex: 1;
  }

  .copy-btn-container {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.with-btn-break .copy-btn-container {
  margin-left: .25rem;
}

.trunc-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.break-overflow {
  word-break: break-all;
}

.cell-content {
  margin-right: .15rem;
}

.copy-btn {
  margin: 0;
  position: absolute;
}
