<ng-container *ngIf="withCopyBtn; else cellContent">
  <div [ngClass]="[
    !btnInline || truncate ? 'flex-layout' : 'inline-layout',
    !btnInline ? 'with-btn-right-aligned' : '',
  ]">
    <ng-container *ngTemplateOutlet="cellContent" />
    <ec-button-copy-to-clipboard [textToCopy]="textToCopy" class="copy-button" />
  </div>
</ng-container>

<ng-template #cellContent>
  <div [ngClass]="['cell-content', truncate ? 'trunc-overflow' : 'break-overflow']">
    <ng-content />
  </div>
</ng-template>
