<ng-container *ngIf="withCopyBtn; else cellContent">
  <div [ngClass]="[
    'with-btn',
    btnInline ? 'with-btn-inline' : 'with-btn-right-aligned',
    truncate ? 'with-btn-trunc' : 'with-btn-break',
  ]">
    <ng-container *ngTemplateOutlet="cellContent" />
    <div
      class="copy-btn-container"
      [ngStyle]="{ 'width.px': btnWidthPx ?? btnSizePx }"
    >
      <ec-button-copy-to-clipboard
        class="copy-btn"
        [ngStyle]="{ 'top.rem': btnTopOffsetRem }"
        [disabled]="btnDisabled"
        [heightPx]="btnHeightPx ?? btnSizePx"
        [iconSizePx]="btnIconSizePx"
        [label]="btnLabel"
        [labelFontSizePx]="btnLabelFontSizePx"
        [sizePx]="btnSizePx"
        [textToCopy]="textToCopy"
        [title]="btnTitle"
        [widthPx]="btnWidthPx ?? btnSizePx"
        [withAnimation]="btnWithAnimation"
        [withBorder]="btnWithBorder"
        (copied)="copied.emit($event)"
        (failed)="failed.emit($event)"
      />
    </div>
  </div>
</ng-container>

<ng-template #cellContent>
  <div [ngClass]="[
    'cell-content',
    truncate ? 'trunc-overflow' : 'break-overflow',
  ]">
    <ng-content />
  </div>
</ng-template>
