.with-btn {
  display: flex;

  &.with-btn-right-aligned .cell-content {
    flex: 1;
  }

  .copy-button {
    flex: 0 0;
    margin: 0;
  }
}

.with-btn-break .copy-button {
  margin-left: .25rem;
}

.trunc-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.break-overflow {
  word-break: break-all;
}

.cell-content {
  margin-right: .15rem;
}
