@if (navItem) {
  @switch (navItem.type) {
    @case (NavItemTypeEnum.Divider) {
      <div class="nav-divider"></div>
    }

    @case (NavItemTypeEnum.Href) {
      <a clrVerticalNavLink [href]="navItem.link">
        @if (navItem.icon) {
          <cds-icon clrVerticalNavIcon [attr.shape]="navItem.icon" />
        }
        <ec-sidebar-nav-label [navItem]="navItem" [isBold]="isBold" />
      </a>
    }

    @case (NavItemTypeEnum.RouterLink) {
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        [routerLink]="navItem.link"
        [class.disabled]="navService.isPathActive(navItem.link, 'exact')"
      >
        @if (navItem.icon) {
          <cds-icon clrVerticalNavIcon [attr.shape]="navItem.icon" />
        }
        <ec-sidebar-nav-label [navItem]="navItem" [isBold]="isBold" />
      </a>
    }
  }
}
